<div class="container login">
  <main class="form-signin">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <img
        class="mb-4"
        src="../assets/bootstrap-logo.svg"
        alt=""
        width="72"
        height="57"
      />
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="userName"
          placeholder="username"
          formControlName="userName"
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          formControlName="password"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input
            type="checkbox"
            value="remember-me"
            formControlName="remember"
          />
          Remember me
        </label>
      </div>
      <div class="text-danger error" *ngIf="error">
        {{ error }}
      </div>

      <button
        class="w-100 btn btn-lg btn-primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Sign in
      </button>
      <div class="checkbox mb-3 signup">
        <a [routerLink]="['/register']">Sign Up</a>
      </div>
    </form>
  </main>
</div>
