<app-top-bar
  title="Companies"
  buttonTitle="Add Company"
  (actionEvent)="navigateTo('/companies/new')"
></app-top-bar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #table>
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element._id }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.companyId.name }}</td>
  </ng-container>
  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef>owner</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="clients">
    <th mat-header-cell *matHeaderCellDef>Clients</th>
    <td mat-cell *matCellDef="let element">{{ element.clients }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <div>
        <button (click)="deleteCompany(element._id)">delete</button
        ><button (click)="navigateTo('/companies/new')">edit</button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
